
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  margin-left: 0px;
  margin-right: 0px;
  font-family: 'Open Sans', sans-serif;
}

/*Styling for logo, title and subtitle of portfolio*/
.title-div {
  width: 100%;
  height: 150px;
  order: 1;
  display: flex;
  flex-wrap: wrap;
}


.left-title-div {
  order: 2;
  display: block;
  width: 15%;
}

#logo {
  margin-top: 2px;
  padding-top: 4px;
}

.right-title-div {
  order: 3;
  display: block;
  text-align: right;
  width: 85%;
}

.name {
  font-family: 'Open Sans Light', sans-serif;
  font-weight: lighter;
  font-size: 30px;
  margin: 2px;
  padding: 0px;
}

.subtext {
  font-weight: 100;
  font-size: 20px;
  margin: 2px;
  padding: 0px;
}

/*
*
* Left Margin and its contents will be displayed only for when DIP width is 700px or more
*
*/
.left-margin {
  display: none;
  background-color: #fff;
  order: 0;
}

.left-margin figure{
  text-align: center;
}

.margin-picture {
  width: 100%;
  height: 20%;
  margin-bottom: 10px;
}

figure figcaption {
  display: inline-block;
  word-wrap: break-word;
  text-align: center;
}

figure figcaption a {
  padding: 1.5em;
}

.margin-picture-one {
  margin-top: 150px;
}

.margin-picture-two {
  margin-top: 10px;
}

/*
*
* Hamburger
*
*/
.header__menu {
  display: none;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 25%;
  text-align: center;
  line-height: 24px;
  padding: 24px;
  text-transform: uppercase;
}

.menu-div {
  display: block;
  height: 50px;
  width: 100%;
  order: 4;
}

/*Everything to the right of left-margin is inside .article-content*/
.article-content {
  display: inline-block;
  width: 100%;
}

/*
*
* Hero Image, Favorite Articles Section
*
*/
#image-feature {
  width: 100%;
  display: inline-block;
  order: 5;
  background-color: #fff;
  border-top: 3px solid  #7d97ad;
  float:right;
}

img, embed, object, video, figure {
  max-width: 100%;
}

#image-section {
  display: inline-block;
  width: 100%;
  order: 6;
  background-color: #fff;
}

#hero {
  order: 7;
  width: 100%;
  height: 40%;
}

#feature-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  order: 8;
  height: 300px;
}

/*Styling for text 'Favorite Articles'*/
.feature-heading {
  font-family: 'Open Sans Light', sans-serif;
  font-weight: 100;
  font-size: 30px;
  padding-top: 10px;
  margin-left: 2px;
  margin-bottom: 0px;
  color: #b3cccc;
  display: block;
  width: 100%;
}

/*Styling div containing figures in Favorite Articles*/
.feature-figure-div {
  display: inline-block;
  width: 100%;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
}

/*Styling featured text in Favorite Articles*/
.feature-text-div {
  display: inline-block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  /*  text-justify: distribute-all-lines; */
}

/*Styling figures in Favorite Articles*/
.feature-figures {
  width: 30%;
  height: 152px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  *display: inline;
  zoom: 1;
  word-wrap: break-word;
}

.feature-figures a {
  padding: 1.5em;
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}
header, nav, footer, section, article, div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*
*
* Top Level Navigation
*
*/

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 40%;
  text-align: center;
  line-height: 24px;
  padding: 24px;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
  color: #616161;
  padding: 1.5em;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}



/*
Not displaying the left navigation, hence the article can take the full width of the page
Instead of left nav, showing hamburger which opens on click
Removing the margins in the page on the left and right hand side
Showing feature figures and featured article links side by side taking 40% and 50% width respectively
*/
@media screen and (min-width: 353px) and (max-width: 700px) {

  .feature-figure-div{
    width: 40%;
    margin-left: 0px;
    margin-right: 10%;
  }

  .feature-text-div{
    width: 50%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .feature-figures {
    width: 100%;
    margin-bottom: 20px;
    vertical-align: middle;
  }

  .nav {
    background-color: #fff;
    width: 300px;
    position: absolute;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }

  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .nav__item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
  }

  .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em;
  }

  .header__menu svg {
    width: 32px;
    fill: #E0E0E0;
  }
}


/*
1.Left Nav is displayed, Hamburger and top nav are not displayed
2.Adding a left margin to the container
3.Since left nav takes 30% width, article content to be allotted remaining 70% width of the container
4.Adding a left and right margin to the container
*/
@media screen and (min-width: 701px) {
  .left-margin{
    width: 30%;
    display: inline-block;
  }

  .nav, .menu-div {
    display: none;
  }

  .article-content {
    width: 70%;
  }

  .name {
    font-size: 50px;
  }

  .container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

/*Title div (Specifically right title div) needs more length between these widths*/
@media screen and (min-width: 701px) and (max-width: 853px) {
  .title-div {
    height: 200px;
  }
}
